# Mi Inbox - Frontend Environment
VITE_API_BASE_URL=http://127.0.0.1:8000/api/v1

# Reverb / WebSockets Sync (Must match Backend)
VITE_REVERB_APP_KEY=3isavfisgallyp3ovbxn
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

# App State
VITE_APP_NAME="Mi Inbox"
